---
sudo: true

language: node_js
node_js:
  - 5.5
  - 6

addons:
  mariadb: '5.5'

env:
  global:
    - DB_ROOT_PASS="$(openssl rand -hex 20)"
    - APPUSER="$USER"

install:
  - wget https://dl.google.com/closure-compiler/compiler-latest.zip
  - unzip -n compiler-latest.zip
  - if [ -n "$CONSUMER_KEY" ]; then ./bin/travis/install.sh; fi

script:
  # TODO: Enable checkTypes after adding more types to externs.js
  - "cat *.js | java -jar closure-compiler-*.jar --language_in=ECMASCRIPT6 --warning_level=VERBOSE --jscomp_off=checkTypes
    --externs=externs/externs.js --externs=externs/core.js --externs=externs/process.js
    --externs=externs/underscore-1.5.1.js > /dev/null"
  - if [ -n "$CONSUMER_KEY" ]; then npm test; fi

after_failure:
  - if [ -n "$CONSUMER_KEY" ]; then cat bt.log; fi
