[Service]
WorkingDirectory=/data/blocktogether/current
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node --max_old_space_size=1600 blocktogether.js --port 8702

User=ubuntu
Group=ubuntu

Restart=always

[Install]
WantedBy=multi-user.target

