.navbar {
  padding: 2em;
}

.description,
.signup-prompt,
.index-logged-in,
.development,
.log-on-prompt {
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
}

#log-on-form {
  display: inline;
}

.signup-prompt,
.index-logged-in,
.log-on-prompt {
  padding: 0.5em;
  border: 1px solid lightgrey;
}

.example-block-list {
  padding-left: 2em;
}

.navbar a,
.navbar span {
  padding: 1em;
  text-decoration: none;

}
.navbar {
  height: 46px;
  padding-top: 2em;
  font-size: 13px;
}

.all-blocks {
  width: 30em;
}
.blocked-user {
  position: relative;
}
.saved {
  display: none;
}
.block-all-processing,
.unblock-processing {
  display: none;
}
th, td {
  padding: 0.3em;
}
/* Use a serif font for screen names to make look-alike names
 * like oolon vs ooIon easier to distinguish. */
.screen-name {
  font-family: serif;
}

/* For now, hide checkboxes when viewing someone else's blocks. */
.all-blocks input[type=checkbox] {
  display: none;
}
.all-blocks.own-blocks input[type=checkbox] {
  display: block;
}
