body {
  padding: 2em;
}

.signin-prompt,
.description {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

.navbar > a,
.navbar > span {
  padding: 1em;
  text-decoration: none;

}
.navbar {
  height: 46px;
  font-size: 13px;
}
.all-blocks {
  width: 30em;
}
.blocked-user {
  position: relative;
}
button.block,
button.unblock {
  font-size: 8px;
  /* The block/unblock functionality is not yet implemented. */
  display: none;
}
.saved {
  display: none;
}
.block-all-processing {
  display: none;
}
th, td {
  padding: 0.3em;
}
/* Use a serif font for screen names to make look-alike names
 * like oolon vs ooIon easier to distinguish. */
.screen-name {
  font-family: serif;
}
