  {{>header.mustache}}
  <div class="explanation">
  Actions performed on your account by Block Together, or observed by Block
  Together from external sources since you signed up. Actions consist of blocks,
  unblocks, mutes and unmutes.
  "Cancelled-duplicate" means you already blocked the target. It's normal to see
  multiple "cancelled-duplicate" results for a single target user, especially if
  you use the auto-block features.
  </div>
  <div class="search">
    <form action="" method="GET">
      <input id="screen_name" name="screen_name" type="text"></input>
      <button type="submit" class="btn btn-primary">Search by screen name</button>
    </form>
  </div>
  <table class='table table-condensed actions'>
  <thead>
    <tr class='table-header'>
      <th>Action</th>
      <th>Target</th>
      <th>Status</th>
      <th>Updated</th>
      <th>Cause</th>
      <th>Cause user</th>
    </tr>
  </thead>

  {{#paginate}}
  <div id='pagination-bar'>
    {{>pagination.mustache}}
  </div>
  {{/paginate}}

  {{#item_rows}}
    <tr class='action' data-id='{{id}}'>
      <td>{{type_str}}</td>
      <td>
      {{! If TwitterUser is available and has a screen name, use that. }}
      {{#TwitterUser}}
      {{#TwitterUser.screen_name}}
        <a href='https://twitter.com/{{TwitterUser.screen_name}}'
           class='screen-name'>{{TwitterUser.screen_name}}</a>
      {{/TwitterUser.screen_name}}
      {{^TwitterUser.screen_name}}
        {{! Otherwise, use uid. }}
        <a href='https://twitter.com/intent/user?user_id={{sink_uid}}'
          >{{sink_uid}}</a>
      {{/TwitterUser.screen_name}}
      {{/TwitterUser}}
      {{^TwitterUser}}
        {{! Occasionally the TwitterUser uid may not have been inserted in the DB
            for some reason. In that case also use uid. }}
        <a href='https://twitter.com/intent/user?user_id={{sink_uid}}'
          >{{sink_uid}}</a>
      {{/TwitterUser}}
      </td>
      <td>{{status_str}}</td>
      <td title="{{updatedAt}}">{{prettyUpdated}}</td>
      <td>{{cause_str}}</td>
      <td>
        {{#CauseUser}}
          <a href='https://twitter.com/{{CauseUser.screen_name}}'
             class='screen-name'>{{CauseUser.screen_name}}</a>
        {{/CauseUser}}
        {{^CauseUser}}
          {{! Otherwise, use uid. }}
          <a href='https://twitter.com/intent/user?user_id={{cause_uid}}'
            >{{cause_uid}}</a>
        {{/CauseUser}}
       </td>
    </tr>
  {{/item_rows}}
  </table>
  {{>footer.mustache}}
