  {{>header.mustache}}
  Block actions pending and performed on your account by Block Together.
  "Cancelled-duplicate" means you already blocked the target.
  <table class='actions'>
  <tr class='table-header'>
    <th>Action</th>
    <th>Target</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  {{#actions}}
    <tr class='action' data-id='{{id}}'>
      <td>{{type}}</td>
      <td>{{sink_uid}}</td>
      <td>{{status}}</td>
      <td title="{{createdAt}}">{{prettyCreated}}</td>
      <td title="{{updatedAt}}">{{prettyUpdated}}</td>
    </tr>
  {{/actions}}
  </table>

  </body>
</html>
