  {{>header.mustache}}
  Block actions pending and performed on your account by Block Together.
  "Cancelled-duplicate" means you already blocked the target.
  <table class='table table-condensed actions'>
  <thead>
    <tr class='table-header'>
      <th>Action</th>
      <th>Target</th>
      <th>Status</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>

  {{#paginate}}
  <div id='pagination-bar'>
    {{>pagination.mustache}}
  </div>
  {{/paginate}}

  {{#actions}}
    <tr class='action' data-id='{{id}}'>
      <td>{{type}}</td>
      <td>
      {{! If TwitterUser is available and has a screen name, use that. }}
      {{#twitterUser.screen_name}}
        <a href='https://mobile.twitter.com/{{twitterUser.screen_name}}'
           class='screen-name'>{{twitterUser.screen_name}}</a>
      {{/twitterUser.screen_name}}
      {{^twitterUser.screen_name}}
        {{! Otherwise, use uid. }}
        <a href='https://mobile.twitter.com/intent/user?user_id={{sink_uid}}'
          >{{sink_uid}}</a>
      {{/twitterUser.screen_name}}
      </td>
      <td>{{status}}</td>
      <td title="{{createdAt}}">{{prettyCreated}}</td>
      <td title="{{updatedAt}}">{{prettyUpdated}}</td>
    </tr>
  {{/actions}}
  </table>
  {{>footer.mustache}}
