    <div class='block-all-processing'>
      Block Together will now block
      <span id='blocked-users'></span>
      users on your behalf. This may take some time. You can check on progress
      at <a href='/actions'>the Actions page</a>. When @{{author_screen_name}}
      blocks new accounts, you will automatically block those accounts too.
      To stop auto-blocking accounts blocked by @{{author_screen_name}},
      visit <a href='/subscriptions'>the Subscriptions page</a>.
    </div>
