<!DOCTYPE html>
<html>
  <head>
    <title>Block Together</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/static/bootstrap-3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/bootstrap-3.1.1/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/static/style.css' />
    <script defer type='text/javascript' src='/static/jquery-2.1.1.min.js'></script>
    <script defer type='text/javascript' src='/static/bootstrap-3.1.1/js/bootstrap.min.js'></script>
    <script defer type='text/javascript' src='/static/header.js'></script>
  </head>
  <body data-user-uid='{{user_uid}}'>
    <div class='container-fluid'>
      {{^hide_navbar}}
      <div class='navbar'>
        <a href='/'>Block Together</a>
        <a href='/my-blocks'>My Blocks</a>
        <a href='/actions'>Actions</a>
        <a href='/subscriptions'>Subscriptions</a>
        <a href='/settings'>Settings</a>
        {{#logged_in_screen_name}}
        <span>@{{logged_in_screen_name}}</span>
        <a class='logoff' href='/logout'>Log Off</a>
        {{/logged_in_screen_name}}
        {{^logged_in_screen_name}}
        <form id="log-on-form" action="/auth/twitter" method="POST">
          <a class="log-on-link" href="#">Log On</a>
        </form>
        {{/logged_in_screen_name}}
      </div>
      {{/hide_navbar}}
