<!DOCTYPE html>
<html>
  <head>
    <title>Block Together</title>
    <link rel='stylesheet' href='/static/bootstrap-3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/bootstrap-3.1.1/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/static/style.css' />
    <script type='text/javascript' src='/static/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='/static/bootstrap-3.1.1/js/bootstrap.min.js'></script>
  </head>
  <body>
  <div class='navbar'>
    <a href='/'>Block Together</a>
    <a href='/my-blocks'>My Blocks</a>
    <a href='/actions'>Actions</a>
    <a href='/settings'>Settings</a>
    {{#logged_in_screen_name}}
    <span>@{{logged_in_screen_name}}</span>
    <a href='/logout'>Log Off</a>
    {{/logged_in_screen_name}}
    {{^logged_in_screen_name}}
    <a href='/auth/twitter'>Log On</a>
    {{/logged_in_screen_name}}
  </div>
