<script defer type='text/javascript' src='/static/pagination.js'></script>
<ol class="pagination">
  <li class="prev-page"><a href="#">&laquo;</a></li>
  {{#pages}}
  <li class="page"><a class="page-link" href="#"></a></li>
  {{/pages}}
  <li class="next-page"><a href="#">&raquo;</a></li>
</ol>
