  {{>header.mustache}}
  <script defer type='text/javascript' src='/static/settings.js'></script>
  <h1>Settings</h1>

  {{>settings_include.mustache}}

  <button id="unblock-all">Unblock all accounts</button>

  <p>
    <span class=saved>Saved</span>
  </p>
  {{>footer.mustache}}
