  {{>header.mustache}}
  <script defer type='text/javascript' src='/static/show-blocks.js'></script>
  {{^own_blocks}}
    User <a href='https://mobile.twitter.com/{{author_screen_name}}' class='screen-name'
      >@{{author_screen_name}}</a>
    is blocking {{block_count}} users on Twitter (updated {{updated}}):
  {{/own_blocks}}
  {{#own_blocks}}
    You are blocking {{block_count}} users on Twitter (updated {{updated}}):
  {{/own_blocks}}
  {{! When displaying someone else's blocks, give an option to block all the
      same ones.  }}
  {{^own_blocks}}
  <div>
    <button class='btn btn-primary block-all'>Block All</button>
    <div class='block-all-processing'>
      Block Together will now block {{block_count}} users using your account
      @{{logged_in_screen_name}}. This may take some time. You can check
      on progress at <a href='/actions'>the Actions page</a>.
    </div>
  </div>
  {{/own_blocks}}
  <div id='pagination-bar'>
  {{>pagination.mustache}}
  </div>
  <table data-author-uid='{{author_uid}}'
    class='table table-condensed table-hover all-blocks'>
    <thead>
      <tr class='table-header'>
        <th>Screen Name</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
  {{#blocked_users}}
    <tr class='blocked-user' data-uid='{{uid}}'>
      <td>
       {{#screen_name}} {{! If full user object is available use it. }}
       <a class='screen-name' href='https://mobile.twitter.com/{{screen_name}}'>
         {{screen_name}}
       </a>
       {{/screen_name}}
       {{^screen_name}} {{! Otherwise just do user id }}
       <a href='https://mobile.twitter.com/intent/user?user_id={{uid}}'>
          {{uid}}
       </a>
       {{/screen_name}}
      </td>
      <td>
       {{#screen_name}}
         {{name}}
       {{/screen_name}}
      </td>
      <td class='action'>
        {{#own_blocks}}
        <button class='unblock'>Unblock</button>
        {{/own_blocks}}
        {{^own_blocks}}
        <button class='block'>Block</button>
        {{/own_blocks}}
      </td>
    </tr>
  {{/blocked_users}}
  </table>
  {{>footer.mustache}}
