  {{>header.mustache}}
  {{#subject_screen_name}}
    User @{{subject_screen_name}} is blocking {{block_count}}
    {{#more_than_5k}}+{{/more_than_5k}} users on Twitter:
  {{/subject_screen_name}}
  {{^subject_screen_name}}
    You are blocking {{block_count}}
    {{#more_than_5k}}+{{/more_than_5k}} users on Twitter:
  {{/subject_screen_name}}
  <table class='all-blocks'>
  {{#blocked_users}}
    <tr class='blocked-user'>
      <td>
       {{#screen_name}} {{! If full user object is available use it. }}
       <a href='https://twitter.com/{{screen_name}}'>
         {{screen_name}} ({{name}})
       </a>
       {{/screen_name}}
       {{^screen_name}} {{! Otherwise just do user id }}
       <a href='https://twitter.com/account/redirect_by_id/{{uid}}'>
          {{uid}}
       </a>
       {{/screen_name}}
      </td>
      <td class='action'>
        {{#own_blocks}}
        <button class='unblock'>Unblock</button>
        {{/own_blocks}}
        {{^own_blocks}}
        <button class='block'>Block</button>
        {{/own_blocks}}
      </td>
    </tr>
  {{/blocked_users}}
  </table>

  </body>
</html>
